//? Uncomment when needed!

/* input[type='radio'] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
} */

/* input[type='checkbox'] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
} */

/* input[type='radio'] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
} */

/* input[type='number'] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
} */

/* input[type='file'] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
} *

// input[type='radio'] {
//   appearance: none;
//   display: none;
// }

// input[type='checkbox'] {
//   appearance: none;
//   display: none;
// }

// input[type='file'] {
//   appearance: none;
//   display: none;
// }
