@import './variabel';

@mixin flex-alignitems-justifycontent($align-items: normal, $justify-content: normal) {
  align-items: $align-items;
  justify-content: $justify-content;
  display: flex;
}

@mixin flex-column-alignitems-justifycontent($align-items: normal, $justify-content: normal) {
  align-items: $align-items;
  justify-content: $justify-content;
  display: flex;
  flex-direction: column;
}

@mixin absolute-left-top-zindex-width-height($left: 0%, $top: 0%, $z-index: 1, $width: 100%, $height: 100%) {
  left: $left;
  top: $top;
  z-index: $z-index;
  width: $width;
  height: $height;
  position: absolute;
}

@mixin text-overflow-ellipsis($width: 100%) {
  width: $width;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}