// Font size
$font-xx-small: 0.5rem;
$font-x-small: 0.625rem;
$font-small: 0.81rem;
$font-medium: 1rem;
$font-large: 1.125rem;
$font-x-large: 1.5rem;
$font-xx-large: 2rem;

//Transition time
$transition-time-very-fast: 0.1s;
$transition-time-fast: 0.5s;
$transition-time-slow: 1s;
$transition-time-very-slow: 1.5s;